@font-face 
{
    font-family: GeomanistLight;
    src: url(Fonts/Geomanist-Light.otf);
}

@font-face {
    font-family: GeomanistBold;
    src: url(Fonts/Geomanist-Bold.otf);
}

body
{
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(to left, #EB2907, #EB5107, #EB7906, #EB9A07, #EB9A07);
    background-size: 200% 200%;
    animation: gradientAnimation 2s ease infinite reverse;
    overflow: hidden;
}

.form
{
    height: 500px;
    width: 400px;
    margin: auto auto;
    border: 5px solid #f0f0f0;
    border-radius: 15px;
    box-shadow: 0 0 5px 2px #f0f0f0, 0 0 5px black;
    background-color: white;
    padding: 50px;
}

ul
{
    margin: 0;
    list-style: none;
    padding: 0;
    display: grid;
    grid-template-rows: 125px 200px 125px;
    font-family: GeomanistLight;
    font-weight: bolder;
    font-size: large;
    color: #787878;
    /* align-items: center; */
}

li
{
    display: flex;
    flex-direction: column;
}

li img
{
    align-self: center;
}

li label
{
    padding-top: 10px;
    margin-bottom: 5px;
}

input
{
    border: none;
    border-radius: 5px;
    outline: none;
    padding-left: 20px;
    height: 35px;
    background-color: #D6D6D6;
    font-family: GeomanistLight;
    font-weight: lighter;
    font-size: large;
    color: #787878;
    transition: 0.2s;
}

.inputsContainer
{
    display: grid;
    grid-template-rows: 100px 100px;
}

li div
{
    display: flex;
    flex-direction: column;
}

input:hover
{
    height: 45px;
}

input:focus
{
    height: 45px;
}

input:hover + li
{
    margin-bottom: 0;
}

.passwordInputContainer
{
    flex-direction: row;
    background-color: #D6D6D6;
    border-radius: 5px;
}

.passwordInputContainer input
{
    flex-grow: 2;
}

.passwordInputContainer button
{
    border: none;
    border-radius: 5px;
    background-color: #D6D6D6;
    padding-right: 10px;
    padding-top: 7px;
    transition: 0.3s;
}

img
{
    transition: 0.3s;
}

button:hover > img
{
    transform: rotate(360deg);
}

a
{
    margin-right: 0;
    margin-top: 2px;
    font-size: 14px;
    color: #0038D1;
    text-decoration: underline;
}

.registerButtonContainer
{
    align-items: center;
}

.registerBtn
{
    padding: 0;
    height: 50px;
    width: 175px;
    border: none;
    border-radius: 15px;
    background-image: linear-gradient(to right, #EBB607, #EB9A07, #EB7906, #EB5107, #EB2907);
    background-size: 200% 200%;
    font-size: 20px;
    font-family: GeomanistLight;
    font-weight: 600;
    color: white;
    margin-top: 75px;
    animation: gradientAnimation 2s ease infinite;
    transition: 0.3s;
}

@keyframes gradientAnimation
{
    0%, 100%
    {
        background-position: 10% 0%;
    }
    50%
    {
        background-position: 91% 100%;
    }
}

.registerBtn:hover
{
    transform: scale(1.1);
   
}

.warningLabels
{
    color: red;
}