@font-face
{
    font-family: GeomanistLight;
    src: url(../Font/Geomanist-Light.otf);
}

@font-face {
    font-family: GeomanistBold;
    src: url(../Font/Geomanist-Bold.otf);
}
header
{
    background-image: linear-gradient(to left, #EB2907, #EB5107, #EB7906, #EB9A07, #EB9A07);
    background-size: 200% 200%;
    animation: gradientAnimation 2s ease infinite reverse;
    height: auto;
    box-shadow: 0 0.5px 10px gray;
    display: grid;
    grid-template-columns: 1fr 7fr 5fr;
    justify-content: center;
    align-items: center;
    justify-items: center;
}
header > img{
    border-radius: 15px;
    width: 90px;
    margin: 5px;
    padding: 5px;
}
.searchBar
{
    background-color: white;
    display: flex;
}
.dropdownNavBar{
    display: none;
}
.headlinesSectionFullScreen
{
    display: flex;
    flex-direction: row;
}

/*.headlinesSection img*/
/*{*/
/*    width: ;*/
/*}*/


header li
{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

header li a
{
    font-family: GeomanistBold;
    font-size: medium;
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}

header ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background: white;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}

header ul li:hover::after{
    width: 100%;
}

header ul li:active{
    transform: translateY(4px);
}


.searchBar
{
    width: 70%;
    height: 40%;
    border: 3px solid #8E063C;
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    background-color: #C30034;
}

.searchBarInput
{
    border: none;
    border-radius: 8px;
    outline: none;
    background-color: transparent;
    color: white;
    padding-left: 15px;
    font-family: GeomanistLight;
    font-size: 16px;
}

::placeholder {
    color: white;
    opacity: 0.8; /* Firefox */
}

::-ms-input-placeholder { /* Edge 12-18 */
    color: white;
}

.searchForm
{
    width: 100%;
    display: flex;
    flex-direction: row;
    margin: 0;
}

.searchForm > input
{
    flex-grow: 1;
}

.searchBarButton
{
    border: none;
    border-radius: 8px;
    background-color: transparent;
    color: white;
    padding-bottom: 10px;
    padding-right: 10px;
    align-self: end;
}
#navbarDropdown{
    display: none;
}
#dropdownButton{
    cursor: pointer;
}
.dropDownList{
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #5e5e5e;
}
.dropDownList > li{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 25px;
}
.headlinesSection{
    display: none;
}
@media (max-width: 768px){
    .headlinesSectionFullScreen{
        display: none;
    }
    .searchBarButton{
        display: none;
    }
    header{
        height: auto;
    }
    .headlinesSection{
        flex-direction: column;
        position: fixed;
        z-index: 1;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: #5e5e5e;
        display: none;
    }
    .headlinesSection > li{
        padding: 10px 0px;
    }
    header > img{
        width:60px;
        height: auto;
    }
    header ul li:hover::after{
        width: 0;
    }
    .dropdownNavBar{
        display: block;
    }
    .dropdownNavBar > button {
        width: auto;
        height: auto;
        text-align: center;
        border-radius: 5px;
        background: #999999;
        color: #000000;
        cursor: pointer;
        position: relative;
        padding: 5px;
        margin: 5px;
        font-family: GeomanistLight;
    }
    .dropdownNavBar > button:hover {
        transform: scale(1.1);
    }
    .dropdownNavBar > button:active {
        transform: translateY(4px);
    }
    .searchBar {
        width: 50%;
        height: 40%;
        padding: 2px;
    }

    .searchBarInput{
        font-size: xx-small;
        width: 40%;
        height: 100%;
    }
}
