@font-face
{
    font-family: GeomanistLight;
    src: url(../Font/Geomanist-Light.otf);
}

@font-face {
    font-family: GeomanistBold;
    src: url(../Font/Geomanist-Bold.otf);
}

body
{
    margin: 0;
}

.classes{
    display: flex;
    justify-content: space-around;
    text-align: center;
    flex-wrap: nowrap;
}

.class
{
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    border-radius: 15px;
    background-color: #393433;
    margin-bottom: 30px;
}

.class > img
{
    border-radius: 15px;
    width: auto;
    height: 400px;
}

.class > a
{
    width: 100%;
    margin-bottom: 20px;
}

.class > a > button,
.class > button
{
    margin-top: 40px;
    width: 200px;
    padding: 15px 0;
    text-align: center;
    border-radius: 25px;
    border: 2px solid #000000;
    background-color: beige;
    color: rgb(0, 0, 0);
    cursor: pointer;
    position: relative;
    align-self: center;
    font-family: GeomanistBold;
}

.week
{
    margin: 10px;
    position: -webkit-sticky;
    top: 0;
    font-weight:bold;
    margin: auto;
}

.week > h1
{
    font-family: GeomanistBold;
    margin-bottom: 10px;
}

.week > h2
{
    margin-top: 0;
    font-family: GeomanistBold;
}

.textbox:has(h2)
{
    font-family: GeomanistBold;
}

.textbox
{
    height: auto;
    padding: 10px;
    color: beige;
    font-family: GeomanistLight;
}

/*adding class*/

.add-classes > button,
.class-button > button {
    width: auto;
    height: auto;
    text-align: center;
    font-weight: bold;
    border: 2px solid ;
    border-radius: 10px;
    background: #EB5107;
    color: #000000;
    cursor: pointer;
    position: relative;
    box-shadow: 0 4px #999999ab;
    padding: 5px;
    margin: 5px;
}

#add-classes
{
    position: fixed;
    right: 50px;
    bottom: 70px;
    width: 200px;
    height: 50px;
    color: white;
    font-size: medium;
    border: 2px solid black;
}


button:hover {
    background-color: #EB9A07;
    transform: scale(1.1);
}
button:active {
    background-color: #EB9A07;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}
/*.work-out-classes{

    display: flex;
    text-align: center;
    flex-wrap: wrap;
    justify-content: space-around;
}*/
/*nav bar*/

/*the time table*/




/*the time table*/

/*popup*/
.class-background {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #00000066;
}

#closeButton
{
    border-radius: 35px;
    width: 100px;
    height: 50px;
    position: absolute;
    right: 500px;
    top: 50px;
    font-family: GeomanistBold;
    border: 5px solid #f0f0f0;
    box-shadow: 0 0 5px 2px #f0f0f0, 0 0 5px black;
    transition: all 0.2s;
}


.add-classes{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: end;
}
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
}

/*popup*/

/* adding classes form*/
.adding-classes-from-container{
    display: none;
}
.adding-classes-from{
    width: 25%;
    height: auto;
    margin: 15px auto;
    border: 5px solid #f0f0f0;
    border-radius: 15px;
    box-shadow: 0 0 5px 2px #f0f0f0, 0 0 5px black;
    background-color: white;
    padding: 50px;
}
.class-info-form
{
    /*align-items: start;*/
    display: grid;
    width: auto;
    row-gap: 20px;
    font-family: GeomanistLight;
    font-weight: bolder;
    font-size: large;
    color: #787878;
    /* align-items: center; */
}

.class-info-form > select
{
    margin-bottom: 50px;
    /*align-self: self-end;*/
}

input{
    border: none;
    border-radius: 5px;
    outline: none;
    height: 35px;
    background-color: #D6D6D6;
    font-family: GeomanistLight;
    font-weight: lighter;
    font-size: large;
    color: #787878;
    transition: 0.2s;
}
select{
    border: none;
    border-radius: 5px;
    outline: none;
    height: 35px;
    background-color: #D6D6D6;
    font-family: GeomanistLight;
    font-weight: lighter;
    font-size: large;
    color: #787878;
    transition: 0.2s;
}
.warningLabels
{
    color: red;
}
.registerBtn{
    height: 50px;
    width: 175px;
    border: none;
    border-radius: 15px;
    background-image: linear-gradient(to right, #EBB607, #EB9A07, #EB7906, #EB5107, #EB2907);
    background-size: 200% 200%;
    font-size: 20px;
    font-weight: 600;
    color: white;
    margin: auto;
    animation: gradientAnimation 2s ease infinite;
    transition: 0.3s;
}


.registerBtn:hover
{
    transform: scale(1.1);
}

/* adding classes form*/

@keyframes gradientAnimation{
    0%, 100%
    {
        background-position: 10% 0%;
    }
    50%
    {
        background-position: 91% 100%;
    }
}
@media (max-width: 768px) {
    .logo{
        width: 60px;
    }
    .classes{
        width: 70%;
        margin:  5px auto;
        padding: 5px;
        flex-direction: column;
        background-color: #e5e5e5e4;

    }
    .textbox{
        background-color: transparent;
    }
    .class > img{
        display: none;
    }
    .week{
        background-color: transparent;
        position: relative;
    }
    .close-pop-up{
        width: 100%;
    }
    .adding-classes-from{
        width: 50%;
    }
    .closeButton > button{
        width: 100%;
    }
    #closeButton{
        position: static;
        align-self: end;
    }
}