@font-face 
{
    font-family: GeomanistLight;
    src: url(../Font/Geomanist-Light.otf);
}

@font-face {
    font-family: GeomanistBold;
    src: url(../Font/Geomanist-Bold.otf);
}


*
{
    margin: 0%;
    padding: 0%;
    font-family: sans-serif;
}

body
{
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* background-color: white; */
    background-color: #8E063C;
    /* background-image: linear-gradient(to left, #EB2907, #EB5107, #EB7906, #EB9A07, #EB9A07); */
    background-size: 200% 200%;
    /* animation: gradientAnimation 2s ease infinite reverse; */
}

.profile
{
    width: 105em;
    height: 35em;
    align-self: center;
    display: grid;
    grid-template-columns: repeat(10,1fr);
    grid-template-rows: repeat(4,1fr);
    /* background-color: #8E063C; */
    grid-gap: 10px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
}

.profile div
{
    /* box-sizing: content-box; */
    /* border: 10px solid #8E063C; */
    /* margin-top: 20px; */
    border-radius: 30px 0 30px 0;
    background: #FCF6F6;
    display: flex;
    flex-direction: column;
    align-items: start;
    /* position: relative; */
}

.profile div h2
{
    padding-top: 10px;
    padding-left: 20px;
    color: #eb5100;
    font-family: GeomanistBold;
}
.p-details{
    color: black;
}

/*.profile div h3*/
/*{*/
/*    padding-top: 10px;*/
/*    padding-left: 20px;*/
/*    color: #eb5100;*/
/*    font-family: GeomanistBold;*/
/*}*/
.profile div label
{
    padding-top: 10px;
    padding-left: 20px;
    font-family: GeomanistLight;
}

.profile div:nth-child(1)
{
    grid-column: 1 / 9;
}

.profile div:nth-child(2)
{
    grid-row: 2 / 3;
    grid-column: 3 / 11;
}

.profile div:nth-child(3)
{
    grid-row: 3 / 4;
    grid-column: 2 / 7;
    z-index: 1;
    border-bottom: 10px solid #8E063C;
    border-right: 10px solid #8E063C;
}

.profile div:nth-child(4)
{
    grid-area: 3 / 6 / 5 / 10;
    align-items: end;
    border-radius: 30px 0 30px 30px;
}

.profile div:nth-child(4) h2,
.profile div:nth-child(4) label
{
    padding-right: 20px;
}

.profile div:nth-child(4) a
{
    margin-top: 50px;
}

.welcome-message{
    margin-left: 5%;
    margin-bottom: 1%;
    color: #FCF6F6;
}

.welcome-container
{
    display: flex;
    align-items: center;

    margin-top: 2em;
}

.welcome-container > h2 
{
    padding-left: 2%;
}

.welcome-container > h1
{
    line-height: 40px;
    padding-left: 5px;
}


.person-icon{
    width: 8%;
    height: 8%;
    border-radius: 50%;
}

li{
    list-style: none;
}

.profile a
{
    align-self: self-end;
    margin-right: 10px;
}

.profile button
{
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-family: GeomanistBold;
    text-transform: uppercase;
    border: 2px solid #eb5100;
    background: transparent;
    color: #eb5100;
    cursor: pointer;
}

button:hover {
    background-color: #eb5100;
    color: white;
}
button:active {
    background-color: #eb5100;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}
.pop-up{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) scale(0);
    transition: 200ms ease-in-out;
    border: 1px solid black;
    border-radius: 10px;
    z-index: 10;
    background-color: white;
    width: 500px;
    max-width: 80%;
}
.pop-up.active{
    transform: translate(-50%,-50%) scale(1);
}
.pop-up-header{
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
}
.pop-up-header .title{
    font-size: 1.25rem;
    font-weight: bold;
}
.pop-up-header .close-button{
    border: none;
    outline: none;
    background: none;
    position: unset;
    width: unset;
    padding: unset;
    text-align: unset;
    margin: unset;
    font-size: large;
    font-weight: bold;
}
.pop-up-body{
    padding: 10px 15px;
}
#overlay{
    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: black;
    pointer-events: none;
}
#overlay.active{
    opacity: 1;
    pointer-events: all;
}
@keyframes gradientAnimation{
    0%, 100%
    {
        background-position: 10% 0%;
    }
    50%
    {
        background-position: 91% 100%;
    }
}
@media (max-width: 768px) {
    .form
    {
        width: 60%;
    }
}
