*{
    margin: 0%;
    padding: 0%;
    font-family: sans-serif;
}
body{
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(to left, #EB2907, #EB5107, #EB7906, #EB9A07, #EB9A07);
    background-size: 200% 200%;
    animation: gradientAnimation 2s ease infinite reverse;
}
.hero-image{
   width: 100%;
   height: auto;
   background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(../images/backround.jpg);
   background-repeat: repeat-y;
   background-size:cover ;
   background-position: center;
}
.top-nav{
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    width: 120px;
    cursor: pointer;
    border-radius: 25%;
}
.top-nav ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}
.top-nav ul li a{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}
.top-nav ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background: #eb5100;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}
.top-nav ul li:hover::after{
    width: 100%;
}
.top-nav ul li:active{
    transform: translateY(4px);
}
.personal-details{
    border-style: solid;
    flex: 1;
    background: whitesmoke;
    padding-bottom: 20%;
    position: relative;
}
.personal-calendar{
    background-color: whitesmoke;
    border-style: solid;
    flex: 1;
    padding-bottom: 20%;
    position: relative;
  
}
.upgrade-account{
    background-color: whitesmoke;
    border-style: solid;
    flex: 1;
    padding-bottom: 20%;
    position: relative;
}
.gym-access{
    background-color: whitesmoke;
    border-style: solid;
    flex: 1;
    padding-bottom: 20%;
    position: relative;
}
.gym-passes{
    background-color: whitesmoke;
    border-style: solid;
    flex: 1;
    padding-bottom: 20%;
    position: relative;
}
.profile{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
}
.welcome-message{
    margin-left: 5%;
    margin-bottom: 2%;
    
}
.welcome-container{
    display: flex;
    align-items: center;
}
.welcome-container > h1 {
    padding: 3%;
}
.person-icon{
    width: 8%;
    height: 8%;
    border-radius: 50%;
}
li{
    list-style: none;
}
button{
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #eb5100;
    background: transparent;
    color: #eb5100;
    cursor: pointer;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;

}
button:hover {
    background-color: #eb5100;
    color: white;
}
button:active {
    background-color: #eb5100;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}
.pop-up{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) scale(0);
    transition: 200ms ease-in-out;
    border: 1px solid black;
    border-radius: 10px;
    z-index: 10;
    background-color: white;
    width: 500px;
    max-width: 80%;
}
.pop-up.active{
    transform: translate(-50%,-50%) scale(1);
}
.pop-up-header{
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
}
.pop-up-header .title{
    font-size: 1.25rem;
    font-weight: bold;
}
.pop-up-header .close-button{
    border: none;
    outline: none;
    background: none;
    position: unset;
    width: unset;
    padding: unset;
    text-align: unset;
    margin: unset;
    font-size: large;
    font-weight: bold;
}
.pop-up-body{
    padding: 10px 15px;
}
#overlay{
    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: black;
    pointer-events: none;
}
#overlay.active{
    opacity: 1;
    pointer-events: all;
}
@keyframes gradientAnimation{
    0%, 100%
    {
        background-position: 10% 0%;
    }
    50%
    {
        background-position: 91% 100%;
    }
}